*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

header{
	width: 100%;
	height: 110px;
	position: relative;
	background-color: #BEC7D8;
	border-bottom: 5px solid yellow; 
	padding: 5px;
}
header h1{
	position: absolute;
	line-height: 100px;
	display: inline;
	margin-left: 25%;
}
header img{
	margin-left: 5%;
	border-radius: 10px; 
}
/*ADMIN CONTENT STYLING*/

.admin-content{
	width: 100%;
	background: #D3D3D3;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.admin-content aside{
	float: left;
	width: 18%;
	height: 90vh;
	background: red;
	border-right: 10px solid green;
}
.admin-content section{
	float: right;
	width: 80%;
	padding: 5px;
}

.admin-content aside button{
	width: 100%;
	
	padding: 30px auto;
	margin-top: 20px;
	background: #0A79F0;

}
.admin-content aside button a{
	width: 100%;
	font-size: 20px;
	color: #E5D30D;	
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 30px;

}
/*VIEW POST PADE STYLING*/

/*END VIEW POST PADE STYLING*/

/*INSERT POST STYLING FOR ADMIN*/
.ins-post-box{
width: 100%;
height: 100vh;
position: relative;
background: #9CA7B9;

}
.ins-post{
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.ins-post input[type="text"], .ins-post input[type="password"],.ins-post textarea{
	width: 100%;
	margin: 15px auto;
	outline: none;
	border: none;
	border-bottom: 1px solid #007cFF;
	text-indent: 10px;
}
.ins-post input[type="datetime-local"], .ins-post input[type="file"]{
	margin-left: 20px;

}
.ins-post input[type="text"], .ins-post input[type="password"]{
	height: 30px;
}
.ins-post textarea{
	height: 190px;
	resize: none;
}
.ins-post input{
	margin: 15px auto;
	
}
.ins-post p{
	font-size: 20px;
	color: #E5D30D;
}
.ins-post button{
	width: 150px;
	margin-left: 40%;
	background: #007BFF;
	border: none;
	border: 2px solid #007cFF;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 7px;
	color: #E5D30D;
	font-size: 20px;
	cursor: pointer;
}

/*END INSERT POST STYLING FOR ADMIN*/


.admin-content::after{
	content: "";
	display: block;
	clear: both;
}